body{
    background-color:   hsl(30, 54%, 90%);
    display: flex; 
    flex-direction: column;
    justify-content: center; /* Center horizontally*/
    align-items: center; /* Center Vertically*/
}
.Container-main{
    margin-top: 80px;
    padding: 30px;
    background-color: white;
    border-radius: 20px;
    width: 600px;/*With of the div */
    display: flex; 
    flex-direction: column;
    justify-content: center; /* Center horizontally*/
    align-items: flex-start; /* Center Vertically*/

    

}
.Container-main img{
    width: 100%;
    height: auto; 
    border-radius: 20px;


}
h1{
     font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 0;
   
}
p {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color:  hsl(36, 2%, 51%);

}

.Pink-box{
   background-color:  hsl(330, 100%, 98%);
   width: 100%;
   border-radius: 20px;
   margin-top: 10px;
   

 
}

.list-pink li:before{
    content: '•';
    display: inline-block;
     left: -1; 
    color:  hsl(332, 51%, 32%);
    padding-right: 15px;
    font-weight: bold;
   

}
.list-pink li{
    list-style: none;
    position: relative;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color:  hsl(36, 2%, 51%);
    margin-bottom: 10px;

}

h2{
    color:  hsl(332, 51%, 32%);
    font-family: "Outfit", sans-serif;
    font-weight:200px;
    font-size: 18px;
    margin-left: 25px;
    
}
strong{
    color: rgb(86, 83, 83);

}
.tittle-h2{
    color:hsl(14, 45%, 36%);
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-size: 20px;
    margin-top: 15px;
}

.Ingredients{
    padding: 10px;
    margin-top:0 ;
}
.Ingredients li {
    list-style: none;
    position: relative;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color:  hsl(36, 2%, 51%);
    margin-bottom: 10px;
    

}
.Ingredients li::before{
    content: '•';
     color:  hsl(332, 51%, 32%);
    padding-right: 15px;
    font-weight: bold;
    
}

.Ingredients {
    border-bottom: 0.5px solid hsl(30, 5%, 83%); 
    margin-bottom: 30px;
    width: 100%;

}
.Instructions {
    counter-reset: step-counter;
    border-bottom: 0.5px solid hsl(30, 5%, 83%); 
    margin-bottom: 25px;
    width: 100%;
}


.Instructions li{
    list-style: none;
    position: relative;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color:  hsl(36, 2%, 51%);
    margin-bottom: 10px;
  }

 

.Instructions li::before{
    counter-increment: step-counter;
    content:counter(step-counter) '.';
    font-weight: bold;
    color:  hsl(332, 51%, 32%);
    padding-right: 15px;


}
.Instructions  {
    padding-left: 10px;
}
.Instructions li:last-child{
    margin-bottom: 30px;
}
.tabler-nut{
    display: grid;
    grid-template-columns: 1fr 1Fr;
    grid-template-rows:auto ;
    justify-content: center;
    align-items: center;
    width: 100%;
   


}
.item1{
    display: flex;
    flex-direction: column;
    gap: 10px; 
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color:  hsl(36, 2%, 51%);
    font-weight: bold;
    
    
}
.item2{
    display: flex;
    color:hsl(14, 45%, 36%);
    font-weight: 400;
    font-size: 15px;
    font-family: "Outfit", sans-serif;
    flex-direction: column;
    gap: 10px; 
    font-weight: bold;
 
 

}
.item1 > div,
.item2 > div {
    border-bottom: 0.5px solid hsl(30, 5%, 83%);
    padding: 10px 0;
}
.item1 > div:last-child,
.item2 > div:last-child {
    border-bottom: none;
}
footer{
   color:  hsl(36, 2%, 51%);
    font-family: "Outfit", sans-serif;
    font-size: 10px;

}
@media screen and (max-width: 600px){

    .Container-main{

        width: 90%;
    }
}